<div id="log-in">
    <p class="change-state"  onclick="return $(window).trigger('auth:signup' ,'here')">Don't have an account yet? <span id="main-choose-signup" class="link">Sign up &raquo;</span></p>

    <div class="center">
      <a class="button button-facebook" href="/services/Facebook/login?dest={{pathname}}"><span class="icon-facebook"></span>Login with Facebook</a>
    </div>
    <div class="or"><span class="uppercase">Or</span></div>
    <div class="center">
      <a class="button button-twitter" href="/services/Twitter/login?dest={{pathname}}"><span class="icon-twitter"></span>Login with Twitter</a> 
    </div>
    <p class="auth-email" onclick="$(window).trigger('auth:loginEmail'); return false">Login using an email instead &raquo;</p>
</div>