  <div id="log-in">
    <form id="sign-up_form" name="sign-up_form" action="/services/Join" method="POST" class="sign-up_form">
      <div class="label">Username</div>
      <input id="main-signup-username" value="" name="username" type="text" class="input signup-element text-input" />
      <div class="label">Email Address</div>
      <input id="main-signup-email" value="" name="email" type="text" class="input signup-element text-input" />
      <div class="label">Password</div>
      <input id="main-signup-password" name="password" type="password" class="input signup-element text-input" />
      <div class="label">Opt in</div>
      <div class="optin">
        <span>
          <input id="main-signup-optin" name="optin" type="checkbox" class="" checked="checked" />I agree to receive Constellation's weekly newsletter.</span>
      </div>
      <button class="button button-blue uppercase right" type="submit">Log In</span>
<!--       <input type="hidden" value="{{source}}" name="source" />
      <input type="hidden" value="{{destination}}" name="destination" />
      <input type="hidden" value="true" name="indirect" />
      <input type="hidden" value="true" name="popup" />
      <input type="hidden" value="join" name="type" /> -->
    </form>  
</div>